rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /eventos/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    // El resto de la base está bloqueado por defecto
  }
}
