body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.redes svg {
  margin-right: 10px;

}

.redes a {
  text-decoration: none;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.50);
  background-color: #007A7A;
}

.nav-item {
  margin: 15px 0 15px 0;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-item a {
  color: #fff;
}


.logo {
  height: 50px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #219150;
}

#message {
  color: red;
  margin-top: 10px;
}

.btn-orange {
  background-color: #FB5704 !important;
  color: #ffffff;
}

footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 750px) {
  .navbar {
      background-color: #007A7A;
  }

}